
*.dll
*.vsidx
*.exe
*.json
*.vsidx
/EMS/.vs
/EMS/.vs/EMS
*.rsp
*.cache
/EMS/Employee Management System/obj/Debug
/EMS/Employee Management System/obj
*.ldf
*.pdb
*.xml
*.targets
*.cache
*.mdf
*.config
